Acronime.xcodeproj/xcuserdata/v-dhreej.kaveti.xcuserdatad/xcschemes/Acronime.xcscheme
Acronime.xcodeproj/xcuserdata/v-dhreej.kaveti.xcuserdatad/xcschemes/xcschememanagement.plist
Acronime.xcworkspace/xcuserdata/v-dhreej.kaveti.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/v-dhreej.kaveti.xcuserdatad/xcschemes/Pods-Acronime.xcscheme
Pods/Pods.xcodeproj/xcuserdata/v-dhreej.kaveti.xcuserdatad/xcschemes/xcschememanagement.plist
